@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --softRed: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --darkBrown: hsl(25, 47%, 15%);
    --mediumBrown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --veryPaleOrange: hsl(33, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--cream);
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/* Attribution */
.attribution {
    position: absolute;
    bottom: 2rem;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    color: var(--darkBrown);
}

.attribution a { 
    color: var(--softRed);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--cyan);
    text-decoration: underline solid hsl(178, 100%, 50%);
}

/* Pop Over Block Display */
#monday:hover > #mon_pop {
    display: block;
}
#tuesday:hover > #tue_pop {
    display: block;
}
#wednesday:hover > #wed_pop {
    display: block;
}
#thursday:hover > #thu_pop {
    display: block;
}
#friday:hover > #fri_pop {
    display: block;
}
#saturday:hover > #sat_pop {
    display: block;
}
#sunday:hover > #sun_pop {
    display: block;
}